{% extends "base.html" %}
{% block content %}
{% block content_title %}

{% endblock %}

<div id="main" >


        <div id="left">
		         <ol id="post-list">
				{% for article in articles_page.object_list %}
				        <li><article class="hentry">
				                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
				                <footer class="post-info" >
				                  <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }}</abbr>
						{% if article.author %}<address class="vcard author">By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></address>{% endif %}
				                </footer><!-- /.post-info -->
				                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->

								<div class="medium primary btn"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Read more <i class="icon-arrow-right"></i></a></div>



								<div class="row tag-row" style="margin-top: 5px">
									<span>分类: </span><a class="danger label" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
									{% if article.tags %}
										<span>Tags: </span>
										{% for tag in article.tags %}
											<a class="danger label" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
										{% endfor %}
									{% endif %}
								</div>



				        </article></li>
				{% endfor %}
				</ol><!-- /#posts-list -->
	
        </div><!-- /.eleven.columns -->
        
     {% include 'sidebar.html' %}
 </div><!-- /.row -->

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
